<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" type="text/css" href="css/todo.css">
    <script src="https://kit.fontawesome.com/5c90de5687.js" crossorigin="anonymous"></script>
    <title><%= title %></title>
</head>
<body>
    <div id = "todo_box">
        <div id = "heading"><h1>TODO APP</h1></div>
        <form action = "/create-task" method="post">
        <div id = "input_form">
            
            <div id = "discription_box" >
                <label for = "discription" class="select_option">Discription</label>
                <input class = "select_option" type = "text" name="work" id = "discription" placeholder="What i will need to remind you?">
            </div>
            <div id = "category" class="selection">
                <label for = "type" class="select_option">Select Category</label>
                <select id = "type" class="select_option" name = "select_cat">
                    
                    <option>School</option>
                    <option>Home</option>
                    <option>Personol</option>
                    <option>Office</option>
                </select>
                
            </div>
            <div id = "input_date" class="selection">
                <label for = "due_date" class="select_option">Due date</label>
                <input type="date" name = "date" id = "due_date" class="select_option">
            </div>
        </div>
        <div id = "input_btn">
            <button id = "addBtn" type="submit"><span><i class="fa-regular fa-plus"></i>&nbsp ADD</span></button>
            <button id = "deleteBtn" ><span><i class="fa-solid fa-trash"></i>&nbsp DELETE</span></button>
            
        </div>
        </form>
             
        
        <% for(let i of task){ %>
            <% console.log(i.date)%>
        <div id = "tasks">
            <div id = "cb">
                <input type="checkbox"  value="<%= i.id %>">
            </div>
            <div id = "due_work">
                <div id = "due_task">
                    <p><%= i.discription %> </p>
                    <span><i class="fa-solid fa-calendar-days"></i>&nbsp <%= i.date %></span>
                </div>
                <div id = "due_cat">
                    <div><p><%= i.category %></p></div>
                </div>
            </div>
        </div>
        <% } %>
    </div>
    
    
<script src="js/todo.js"> </script>
</body>
</html>