<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "icon" type = "image/png" href ="../assets/images/download.png">
    <link rel = "stylesheet" type="text/css" href="css/todo.css">  
    <script src="https://kit.fontawesome.com/5c90de5687.js" crossorigin="anonymous"></script>
    <title><%= title %></title>
</head>
<body>
    <div id = "todo_box">
        <div id = "heading"><h1>TODO APP</h1></div>
        <form action = "/create-task" method="post">
        <div id = "input_form">
            
            <div id = "discription_box" >
                <label for = "discription" class="select_option fontadj" >Discription</label>
                <input class = "select_option" type = "text" name="work" id = "discription" placeholder="What i will need to remind you?">
            </div>
            <div id = "category" class="selection" style="border-left: 0;">
                <label for = "type" class="select_option fontadj">Select Category</label>
                <select id = "type" class="select_option" name = "select_cat">
                    
                    <option>School</option>
                    <option>Home</option>
                    <option>Personol</option>
                    <option>Office</option>
                    <option>College</option>                     
                    <option>Training</option> 
                </select>
                
            </div>
            <div id = "input_date" class="selection" style="border-left: 0; border-right:0;">
                <label for = "due_date" class="select_option fontadj">Due date</label>
                <input type="date" name = "date" id = "due_date" class="select_option">
            </div>
        </div>
        <div id = "input_btn">
            <button id = "addBtn" type ="submit" class="styBtn" style="margin-right:5px;"><span><i class="fa-regular fa-plus"></i>&nbsp ADD TASK</span></button>
            <button id = "deleteBtn" type ="button" class="styBtn" style="margin-left:5px;"><span><i class="fa-solid fa-trash"></i>&nbsp DELETE TASKS</span></button>
            
        </div>
        </form>
             
        
        <% for(let i of task){ %>
            <% console.log(i.date)%>
        <div id = "tasks">
            <div id = "cb">
                <input type="checkbox"  value="<%= i.id %>">
            </div>
            <div id = "due_work">
                <div id = "due_task">
                    <p class="fontadj"><%= i.discription %> </p>
                    <span style="color: gray;"><i class="fa-solid fa-calendar-days"></i>&nbsp <%= i.date %></span>
                </div>
                <div id = "due_cat">
                    <div><p><%= i.category %></p></div>
                </div>
            </div>
        </div>
        <% } %>
    </div>
    
    
<script src="js/todo.js"> </script>
</body>
</html>